@font-face {
    font-family: 'archivo_narrowitalic';
    src: url('archivonarrow-italic-webfont.eot');
    src: url('archivonarrow-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('archivonarrow-italic-webfont.woff') format('woff'),
         url('archivonarrow-italic-webfont.ttf') format('truetype'),
         url('archivonarrow-italic-webfont.svg#archivo_narrowitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'archivo_narrowbold_italic';
    src: url('archivonarrow-bolditalic-webfont.eot');
    src: url('archivonarrow-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('archivonarrow-bolditalic-webfont.woff') format('woff'),
         url('archivonarrow-bolditalic-webfont.ttf') format('truetype'),
         url('archivonarrow-bolditalic-webfont.svg#archivo_narrowbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}	
body {
	background:url("images/bg.jpg");
	text-align: center;
	margin:0;
    padding:0;

}
#wrapper {
	width: 100%;
	margin: 100px auto;
}
img{
	margin-left:30px;
}
p {
	margin-top: -135px;
	padding-top:5px;
	line-height: 1.3em;
	font-family: archivo_narrowbold_italic;
	font-size:40px;
	font-weight:bold;
	color:#000;
}
b{
	color:#990000;
	font-family: archivo_narrowitalic;
	font-size:40px;
}
a{
	color:#990000;
	font-family:archivo_narrowitalic;
	font-size:40px;
	text-decoration: none;
}
#frame{
	background:url("images/line.png");
	width:100%;
	height:150px;
	margin-top:30px;
}








