/*
	Theme Name:telfordcourier
	Theme URI: http://my.studiopress.com/themes/winning-agent/
	Description: A mobile responsive and HTML5 theme built for the Genesis Framework.
	Author: Carrie Dils
	Author URI: http://www.carriedils.com/

	Version: 1.0.1

	Tags: black, gold, red, blue, green, orange, white, one-column, two-columns, fixed-width, custom-menu, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready

	Template: genesis
	Template Version: 2.0

	License: GPL-2.0+
	License URI: http://www.opensource.org/licenses/gpl-license.php
	*/


/* Table of Contents

	- HTML5 Reset
		- Baseline Normalize
		- Box Sizing
		- Float Clearing
	- Defaults
		- Typographical Elements
		- Headings
		- Objects
		- Forms
		- Tables
	- Structure and Layout
		- Site Containers
		- Page Title
		- Column Widths and Positions
		- Column Classes
	- Common Classes
		- WordPress
		- Genesis
		- Titles
	- Widgets
		- Featured Content
		- Header Widget Area
	- Plugins
		- AgentPress Listings
		- Genesis eNews Extended
		- Genesis Latest Tweets
		- Gravity Forms
		- IDX Broker
		- Jetpack
		- Simple Social Icons
	- Site Header
		- Title Area
		- Widget Area
	- Site Navigation
		- Header Navigation
		- Primary Navigation
		- Responsive Menu
	- Content Area
		- Home Page
		- Community
		- Entries
		- Pagination
		- Comments
		- Content Boxes
	- Sidebar
	- Footer Widgets
	- Site Footer
	- Theme Colors
		- Gold/Black
		- Blue/Green
		- Red/Grey
		- White/Orange
	- Media Queries
		- max-width: 1139px
		- max-width: 1023px
		- max-width: 767px
		- max-width: 639px
		- print
		*/

/*
HTML5 Reset
---------------------------------------------------------------------------------------------------- */

/* Baseline Normalize
	normalize.css v2.1.2 | MIT License | git.io/normalize
	--------------------------------------------- */

	article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

/* Box Sizing
--------------------------------------------- */

*,
input[type="search"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:	border-box;
	box-sizing:		 border-box;
}

/* Float Clearing
--------------------------------------------- */

.archive-pagination:before,
.clearfix:before,
.entry:before,
.entry-pagination:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.wrap:before {
	content: " ";
	display: table;
}

.archive-pagination:after,
.clearfix:after,
.entry:after,
.entry-pagination:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.wrap:after {
	clear: both;
	content: " ";
	display: table;
}

.clear {
	clear: both;
}

/*
Defaults
---------------------------------------------------------------------------------------------------- */

/* Typographical Elements
--------------------------------------------- */

body {
	background: #fff;
	color: #000;
	font-family: Arial, sans-serif;
	font-size: 14px;

	/*line-height: 1.625;
	*/
}
body.home { background: #f8931d url(images/telfordcourier.jpg) no-repeat center top; }

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:	all 0.1s ease-in-out;
	-ms-transition:	 all 0.1s ease-in-out;
	-o-transition:	  all 0.1s ease-in-out;
	transition:		 all 0.1s ease-in-out;
}

::-moz-selection {
	background-color: #333;
	color: #fff;
}

::selection {
	background-color: #333;
	color: #fff;
}

a {
	color: #22205f;
	text-decoration: none;
}

a img {
	margin-bottom: -4px;
}

a:hover {
	color: #39342c;
}

p {
	margin: 0 0 24px;
	padding: 0;
}

strong {
	font-weight: 700;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

blockquote,
blockquote::before {
	font-size: 30px;
	font-weight: 300;
	line-height: 1.2;
}

blockquote {
	font-family: Arial, sans-serif;
	margin: 40px 40px 24px;
	text-align: center;
}

cite {
	display: block;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 2px;
	margin: 15px 0;
	text-align: center;
	text-transform: uppercase;
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6
{
	color: #39342c;
	font-family:Arial, 'Georgia', sans-serif;
	font-weight: 700;
	line-height: 1.2;
	margin: 0 0 16px;
}

h1 {
	color:#22205f;
	font-family: 'Archivo Black', Impact, sans-serif;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
	font-weight:100!important;
	color: #39342c;
	font-family:Arial, 'Georgia', sans-serif;
}

/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
}

/* Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: #fff;
	border: 1px solid #ddd;
	box-shadow: 1px 1px 3px #eee inset;
	color: #999;
	font-family: Arial, sans-serif;
	font-size: 16px;
	padding: 16px;
	width: 100%;
}

input:focus,
textarea:focus {
	border: 1px solid #999;
	outline: none;
}

::-moz-placeholder {
	color: #999;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #999;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.entry-content .button {
	border-color: #cc2127;
	border-radius: 5px;
	background-color: #ed1f24;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	font-family: Arial, sans-serif;
	font-weight: 600;
	padding: 8px 12px;
	text-transform: uppercase;
	width: auto;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover,
.entry-content .button:hover {
	background-color: #39342c;
	color: #fff;
}

.entry-content .button:hover {
	color: #fff;
}

.button {
	display: inline-block;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

/* Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 40px;
	width: 100%;
}

tbody {
	border-bottom: 1px solid #ddd;
}

th,
td {
	text-align: left;
}

th {
	font-weight: bold;
	text-transform: uppercase;
}

td {
	border-top: 1px solid #ddd;
	padding: 6px 0;
}


/*
Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* Site Containers
--------------------------------------------- */

.wrap {
	margin: 0 auto;
	max-width: 1140px;
}

.site-inner {
	background:url("images/entry2.png")repeat-x;
	clear: both;
	padding: 0px 0 40px;
}

.wap-landing .site-inner {
	background-color: #fff;
	margin: 40px auto;
	padding: 40px;
	width: 820px;
}

/* Column Widths and Positions
--------------------------------------------- */

/* Content */

.content {
	float: right;
}

.content-sidebar .content {
	float: left;
}

.full-width-content .content {
	float: none;
	margin: 0 auto;
	width: 1240px;
}

/* Primary Sidebar */

.sidebar-primary {
	float: right;
	width: 340px;
	height:400px;
	padding-top:30px;
}
.sidebar-primary img{
	margin-left:60px;
}

.sidebar-content .sidebar-primary {
	float: right;

}
#nav_menu-3{
	margin-left:60px;
}
#nav_menu-3 a{
	color:#C00000;
	font-family:myFont, Arial, sans-serif;
	font-weight: bold;
	font-size:12px;


}
#nav_menu-3 a:hover {
color:#000;
}
#nav_menu-3 li{
		border-bottom: 1px dotted gray;
		width:250px;
		padding:7px;
}

/* Column Classes
	Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css
	--------------------------------------------- */

	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		float: left;
		margin-left: 2.564102564102564%;
	}

	.one-half,
	.three-sixths,
	.two-fourths {
		width: 48.717948717948715%;
	}

	.one-third,
	.two-sixths {
		width: 31.623931623931625%;
	}

	.four-sixths,
	.two-thirds {
		width: 65.81196581196582%;
	}

	.one-fourth {
		width: 23.076923076923077%;
	}

	.three-fourths {
		width: 74.35897435897436%;
	}

	.one-sixth {
		width: 14.52991452991453%;
	}

	.five-sixths {
		width: 82.90598290598291%;
	}

	.first {
		clear: both;
		margin-left: 0;
	}


/*
Common Classes
---------------------------------------------------------------------------------------------------- */

/* WordPress
--------------------------------------------- */

.avatar {
	float: left;
}

.alignleft .avatar {
	margin: 0 24px 10px 0;
}

.alignright .avatar {
	margin: 0 0 10px 24px;
}

.search-form input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

.sticky {
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
}

img.alignnone {
	margin-bottom: 12px;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 24px 0;
}

img.alignright,
.wp-caption.alignright {
	margin: 0 0 24px 24px;
}

.wp-caption-text {
	font-size: 14px;
	font-weight: 700;
	text-align: center;
}

.gallery-caption {
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar td,
.widget_calendar th {
	text-align: center;
}

/* Genesis
--------------------------------------------- */

.breadcrumb {
	color: #666;
	font-size: 12px;
	margin-bottom: 30px;
	padding-top:10px;
}
	.breadcrumb a { color: #666; }
	.breadcrumb .breadcrumb_last { color: #cc2127; }

a.current{
	color:red;
}
.archive-description,
.author-box {
	background-color: #e2e0dd;
	margin-bottom: 40px;
	overflow: hidden;
	padding: 40px;
}

.author-box-title {
	color: #333;
	font-size: 20px;
	margin-bottom: 4px;
}

.author-box a {
	border-bottom: 1px solid #ddd;
}

.author-box p:last-of-type {
	margin-bottom: 0;
}

.author-box .avatar {
	margin-right: 24px;
	max-width: 90px;
}

/* Titles
--------------------------------------------- */

.entry-title {
	font-size: 23px;

}

.entry-title a {
	color: #39342c;
	font-family: 'Georgia', sans-serif;
}

.entry-title a:hover {
	color: #d9a861;
}

.sidebar .widget-title a {
	color: #6c6353;
}

.widget-title {
	font-size: 18px;
	letter-spacing: 3px;
	margin-bottom: 24px;

	text-transform: uppercase;
}

.sidebar .widget-title a {
	border: none;
}


/*
Widgets
---------------------------------------------------------------------------------------------------- */

/* Featured Content
--------------------------------------------- */

.featured-content .entry {
	margin-bottom: 20px;
	/*padding: 0 0 24px;*/
}

.featured-content .entry-title {
	border: none;
	font-size: 20px;
	line-height: 1.2;
}

.featured-content .entry-title a {
	border: none;
}

/* Header Widget
--------------------------------------------- */

.header-widget-area section {
	display: inline-block;
}

.widget_nav_menu {
	float: left;
}

/* Search Bar
--------------------------------------------- */

.search-bar .wrap {
	background-color: #000;
	padding: 20px 15px;
}


.search-bar {
	padding: 10px 0;
	text-align: center;
}
	.search-bar h2 {
		color: #fff;
		font: 25px 'Archivo Black', sans-serif;
	}
	.search-bar h3 {
		color: #cc2127;
		display: inline;
		font: 16px 'Archivo Black', sans-serif;
		padding-right: 15px;
	}
	.search-bar form {

	}

.search-bar input,
.search-bar select,
.search-bar textarea {
	background: #eee;
	border: 1px solid #cecece;
	border-radius: 3px;
	color: #333;
	font-size: 14px;
	padding: 3px 6px;
	max-width: 150px;
	width: auto;
}
.search-bar input[type=submit] {
	border-color: #cc2127;
	background-color: #ed1f24;
	color: #fff;
}



/*
Plugins
---------------------------------------------------------------------------------------------------- */

/* AgentPress Listings
--------------------------------------------- */

.archive .listing .entry-meta,
.single .listing .entry-meta {
	display: none;
}

.home .listing-wrap {
	position: relative;
}

.home .listing-wrap > a,
.home .listing-wrap img.attachment-properties,
.home .listing-price,
.home .listing-address,
.home .listing-city-state-zip {
	position: absolute;
}

.home .listing-wrap > a:first-child {
	background-color: #3d372d;
	display: block;
	height: 200px;
	left: 0;
	margin-bottom: 20px;
	overflow: hidden;
	top: 0;
	width: 340px;
	z-index: 1;
}

.home .listing-wrap a .attachment-properties {
	left: 0;
	opacity: .4;
	top: 0;
	width: 340px;
	z-index: 100;
}

.home .listing-wrap:hover {
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition:    opacity .2s ease-in-out;
	-ms-transition:     opacity .2s ease-in-out;
	-o-transition:      opacity .2s ease-in-out;
	transition:         opacity .2s ease-in-out;
}

.home .listing-wrap:hover a .attachment-properties {
	opacity: 1;
}

.home .listing-wrap:hover span,
.home .listing-wrap:hover a.more-link {
	opacity: 0;
}

.home .listing-price,
.home .listing-address,
.home .listing-city-state-zip,
.home .listing-wrap .more-link {
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 14px;
	left:0;
	margin-left: auto;
	margin-right: auto;
	right:0;
	z-index: 1;
}

.home .listing-price {
	font-size: 24px;
	font-weight: 700;
	top: 30px;
}

.home .listing-address {
	top: 80px;
}

.home .listing-city-state-zip {
	top: 100px;
}

.home .listing-wrap .more-link {
	top: 120px;
}

.home .listing-text {
	display: none;
}

.home .listing-wrap a.more-link:before,
.home .listing-wrap a.more-link:after {
	border-top: none;
	content: none;
	display: inline-block;
	padding-bottom: 0;
	width: 0;
}

.property-details-col1 {
	clear: none;
	float: left;
	width: 48.717948717948715%;
}

.property-details-col2 {
	float: left;
	margin-left: 2.564102564102564%;
	width: 48.717948717948715%;
}

.property-details .clear {
	padding-top: 20px;
}

.property-details {
	background-color: #e2e0dd;
	margin-bottom: 40px;
	overflow: hidden;
	padding: 40px;
}

/* Genesis eNews Extended
--------------------------------------------- */

.enews-widget input {
	margin-bottom: 16px;
}

.enews-widget input:focus {
	border: 1px solid #ddd;
}

.enews-widget input[type="submit"] {
	margin: 0;
	width: 100%;
}

.enews-widget input[type="text"],
.enews-widget input[type="email"] {
	font-style: italic;
}

/* Genesis Latest Tweets
--------------------------------------------- */

.latest-tweets ul li {
	margin-bottom: 16px;
}

/* Gravity Forms
--------------------------------------------- */

div.gform_wrapper input[type="email"],
div.gform_wrapper input[type="text"],
div.gform_wrapper textarea,
div.gform_wrapper .ginput_complex label {
	font-size: 12px;
	color: #333;
}

div.gform_wrapper .ginput_complex label {
	padding: 0;
}

div.gform_wrapper li,
div.gform_wrapper form li {
	margin: 0px 0 0;
}

div.gform_wrapper .gform_footer input[type="submit"] {
	font-size: 12px;
}
.gform_wrapper{
	font-size:12px!important;
}
.one-half b{
	font-size:15px;
	color:#22205f;
}
.one-half{
	margin-left:0px!important;
}

.gform_wrapper .ginput_complex .ginput_right {
	width: 50%;
}


/* IDX Broker
--------------------------------------------- */

[class^='IDX-quicksearchWrapper'] {
	border: none;
	border-radius: 0;
	box-shadow: none;
}

.search-bar .IDX-qsFieldWrap {
	padding: 0;
}

.search-bar .IDX-quicksearchForm select,
.search-bar .IDX-quicksearchForm input {
	float: left;
	width: auto;
}

/* Jetpack
--------------------------------------------- */

img#wpstats {
	display: none;
}

/* Simple Social Icons
--------------------------------------------- */

.header-widget-area .simple-social-icons ul li {
	margin-bottom: 0 !important;
	padding-top: 10px !important;
}


/*
Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background: #d8d9da url(images/header-bg.png) repeat-y center center;
}

.site-header .wrap {
	padding: 0px 0;
}

/* Title Area
--------------------------------------------- */

.title-area {
	background: url(images/madeley-sameday-courier-logo.png) no-repeat center left;
	float: left;
	height: 140px;
	margin: 0 0 0;
	width: 400px;
}

.header-image .title-area {
	padding: 0;
}

.custom-title {
	color: #d9a861;
	font-weight: 600;
}

.site-title {
	font-family: Arial, sans-serif;
	font-size: 24px;
	font-weight: 300;
	line-height: 1.3;
	margin: 0;
	text-transform: uppercase;
}

.site-title a {
	color: #fff;
}

/* Full width header, no widgets */

.header-full-width .title-area,
.header-full-width .site-title {
	width: 100%;
}

.header-image .site-title a {
	display: block;
	text-indent: -9999px;
}

/* Logo, hide text */

.header-image .site-header .wrap {
	padding: 0;
}

.header-image .site-title a {
	background-position: left center !important;
	float: left;
	min-height: 164px;
	width: 100%;
}

/* Widget Area
--------------------------------------------- */
.widget_nav_menu{
	float:none !important;
}
.widget-area {
	word-wrap: break-word;
}

.site-header .widget-area {
	float: right;
	text-align: right;
	width: 740px;
}

.header-image .site-header .widget-area {
	padding: 0px 0;
}

.site-header .search-form {
	float: right;
	margin-top: 24px;
}
.site-header .widget_text {
	margin-top: 45px;
	padding-right: 5px;
	width: 100%;
}
	.site-header .textwidget p {
		color: #000;
		font: 700 30px 'Archivo Narrow', sans-serif;
	}
		.site-header .textwidget b {
			color: #cc2127;
			font-family: 'Archivo Black', sans-serif;
		}

.textwidget h2{
	color:#fff;
	text-align:center;
	padding: 0px !important;
}

/*
Site Navigation
---------------------------------------------------------------------------------------------------- */
.nav-header{

}
#genesis-nav-menu {
	clear: both;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
}
.genesis-nav-menu .menu-item {
	display: inline-block;
	text-align: left;
}
#nav_menu-2{
	padding-top:10px;
}
#nav_menu-2  a {
	border: none;
	color: #cc2127;
	display: block;
	padding: 0px 8px;
	position: relative;
	font-family: 'Archivo Black', sans-serif;
}

#nav_menu-2   a:hover{
	color:#990000!important;
}

#nav_menu-2   .sub-menu .current-menu-item > a{
	color:#000;
}
#nav_menu-2   .sub-menu .current-menu-item  a:hover {
	color: #ed1f24;
}

#nav_menu-2   > .menu-item > a {
	text-transform: uppercase;
}

#nav_menu-2  .sub-menu {
	left: -9999px;
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition:    opacity .2s ease-in-out;
	-ms-transition:     opacity .2s ease-in-out;
	-o-transition:      opacity .2s ease-in-out;
	transition:         opacity .2s ease-in-out;
	width: 200px;
	z-index: 99;
}
#nav_menu-2   .sub-menu a {
	background-color: #d8d9da ;
	border: 1px solid #A8A8A8  ;
	font-size: 14px;
	padding: 15px 12px;
	position: relative;
	width:150px;
}

#nav_menu-2   .sub-menu a:hover {
	color: #ed1f24;
}

#nav_menu-2   .sub-menu .sub-menu {
	margin: -57px 0 0 199px;
}

#nav_menu-2   .menu-item:hover {
	position: static;
}

#nav_menu-2   .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

#nav_menu-2   > .first > a {
	padding-left: 0;
}

#nav_menu-2   > .last > a {
	padding-right: 0;
}
#nav_menu-2   > .right {
	display: inline-block;
	float: right;
	list-style-type: none;
	padding: 28px 0;
	text-transform: uppercase;
}

#nav_menu-2   > .right > a {
	display: inline;
	padding: 0;
}

#nav_menu-2   > .rss > a {
	margin-left: 48px;
}
#nav_menu-2   > .search {
	padding: 14px 0 0;
}
#nav_menu2{
	margin-left:95px;
}

.genesis-nav-menu.menu-secondary a{
	color: #999;
}
.genesis-nav-menu.menu-secondary a:hover{
	color:#fff !important;

}


/* Site Header Navigation
--------------------------------------------- */

.site-header .sub-menu .sub-menu {
	margin-top: -57px;
}

/* Primary Navigation
--------------------------------------------- */

.nav-primary {
	background-color: #39342c;
}

.nav-primary .sub-menu a:hover {
	background-color: #39342c;
	color: #ed1f24;

}

/* Responsive Menu
--------------------------------------------- */

nav {
	clear: both;
}

.sub-menu-toggle,
.menu-toggle {
	display: none;
	visibility: hidden;
}

/*
Content Area
---------------------------------------------------------------------------------------------------- */

/* Home Page
--------------------------------------------- */

.home .site-inner {
	background: none;
	padding-bottom: 0;
	padding-top: 0;

}

.home .search-bar {

	padding-top: 350px;
	position: relative;
}

.home .search-bar .wrap {
	margin-bottom: -60px;
}

.welcome {

}

.home-welcome .wrap {
	color: #fff;
	margin: 0 auto;
	padding: 150px 0 0 0;
	text-align: center;
}

.home-welcome .widget-title {
	color: #fff;
	font-size: 36px;
	text-align: center;
	text-transform: uppercase;
}

.home-featured .featuredpage .entry {
	border-radius: 0;
	margin: 0;
	padding: 0;
	position: relative;
}

.home-featured {
	background:url("images/silver.png");
	padding: 30px 0 65px 0;
}

.home-featured .featuredpage .widget-wrap {
	background-color: #3d372d;
}

.home-featured-1,
.home-featured-2,
.home-featured-3,
.home-listings .featured-listings .entry {
	float: left;
	margin-bottom: 0;
	margin-right: 60px;
	min-height: 140px;
	text-align: center;
	width: 340px;
}

.home-featured-3,
.home-listings .featured-listings .entry:nth-of-type(3n+3) {
	margin-right: 0;
}

.home-featured .featuredpage .widget-title {
	border-bottom: 3px solid #d9a861;
	border-top: 3px solid #d9a861;
	color: #fff;
	display: inline-block;
	font-size: 28px;
	padding: 15px 0;
	margin: 0 auto;
}

.home-featured .widget-wrap {
	padding: 35px 0;
}

.home-featured .featuredpage img.entry-image {
	left: 0;
	margin: 0;
	opacity: .1;
	position: absolute;
	top: -105px;
}

.home-featured .featuredpage img:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
	-moz-opacity: 0.2;
	-khtml-opacity: 0.2;
	opacity: 0.2;
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition:    opacity .2s ease-in-out;
	-ms-transition:     opacity .2s ease-in-out;
	-o-transition:      opacity .2s ease-in-out;
	transition:         opacity .2s ease-in-out;
}

.home-listings {
	background-color: #faf4ec;
	padding: 90px 0;
	min-height: 475px;
}

.home-communities {
	background-color: #fff;
	overflow: hidden;
	padding: 90px 0 60px;
}

.home-listings .widget-title,
.home-communities .widget-title {
	margin-bottom: 60px;
}

.home-communities .wap-community.entry {
	float: left;
	margin: 0 60px 30px 0;
	padding: 0;
	width: 240px;
}

.home-communities .wap-community.entry:nth-of-type(4n+4) {
	margin-right: 0;
}

.home .wap-community.entry img,
.archive .wap-community.entry img {
	border: 10px solid #6c6353;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

.home .wap-community.entry img:hover,
.archive .wap-community.entry img:hover {
	border: 10px solid #d9a861;
}

/* Community
--------------------------------------------- */

.home .wap-community .entry-title,
.archive .wap-community .entry-title {
	color: #666;
	font-size: 16px;
	margin-top: 15px;
	text-align: center;
	text-transform: uppercase;
}

.wap-community.full-width-content .content {
	width: 100%;
}

.archive .wap-community.entry {
	float: left;
	margin: 0 60px 30px 0;
	padding: 0;
	width: 240px;
}

.archive .wap-community.entry:nth-of-type(4n+4) {
	margin-right: 0;
}

.single-community .content {

}

/* Entries
--------------------------------------------- */
/*
.entry {
	margin-bottom: 40px;
	padding: 0;
}
*/
.entry-content a {
	border-bottom: 1px solid #ddd;
}

.entry-content a:hover {
	color: #333;
}

.entry-content .attachment a,
.entry-content .gallery a {
	border: none;
}

.entry-content ol,
.entry-content p,
.entry-content ul,
.quote-caption {
	margin-bottom: 26px;
}

.entry-content ol,
.entry-content ul {
	margin-left: 40px;
}

.entry-content ol li {
	list-style-type: decimal;
	margin-bottom: 10px;
}

.entry-content ul li {
	list-style-type: disc;
	margin-bottom: 10px;
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.entry-content .search-form {
	width: 50%;
}

.entry-meta {
	color: #999;
	font-family: Arial, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
}

.entry-meta a {
	border-bottom: 1px solid #ddd;
}

.entry-header .entry-meta {
	margin-bottom: 24px;
}

.entry-footer .entry-meta {
	border-top: 2px solid #f5f5f5;
	margin: 0 -40px;
	padding: 32px 40px 8px;
}

.home .entry-footer,
.archive .entry-footer,
.page-template-page_blog-php .entry-footer {
	display: none;
}

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}

.entry-categories,
.entry-tags {
	display: block;
}

.entry .featured-image {
	margin: 40px 0;
}

a.more-link  {
	border-bottom: none;
	clear: both;
	display: block;
	font-family: Arial, sans-serif;
	font-size: 12px;
	margin-top: 5px;
	text-transform: uppercase;
	content: "\00bb";
}

a.more-link:before{}
a.more-link:after {
/*	border-top: 1px solid #ccc;
	content: " ";
	display: inline-block;
	padding-bottom: 4px;
	width: 35%;*/
	content:"\00bb";
	color:red;
}


/* Pagination
--------------------------------------------- */

.archive-pagination,
.entry-pagination {
	font-size: 14px;
	margin: 40px 0;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination li a {
	border: 1px solid #ddd;
	cursor: pointer;
	display: inline-block;
	padding: 8px 12px;
}

.archive-pagination li a:hover,
.archive-pagination li.active a {
	border: 1px solid #d9a861;
}

.entry-pagination a {
	border-bottom: 1px solid #ddd;
}

/* Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
	margin-bottom: 40px;
}

.entry-comments h3,
.comment-respond h3 {
	text-transform: uppercase;
}

.comment-respond a,
.entry-comments a {
	border-bottom: 1px solid #ddd;
}

.comment-content {
	clear: both;
}

.entry-comments .comment-author {
	margin-bottom: 0;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%
}

.comment-respond label {
	display: block;
	margin-right: 12px;
}

.comment-list li,
.ping-list li {
	list-style-type: none;
}

.comment-list li {
	margin-top: 24px;
	padding: 30px;
}

li.comment {
	border: 2px solid #f5f5f5;
}

.comment .avatar {
	margin: 0 16px 24px 0;
}

.entry-pings .reply {
	display: none;
}

.bypostauthor {
}

.form-allowed-tags {
	background-color: #f5f5f5;
	font-size: 14px;
	padding: 24px;
}

/* Content Boxes
--------------------------------------------- */

.content-box-blue,
.content-box-gray,
.content-box-green,
.content-box-orange,
.content-box-red,
.content-box-yellow {
	margin-bottom: 30px;
	overflow: hidden;
	padding: 30px;
}

.content-box-blue {
	background-color: #b6bbc8;
	border: 1px solid #6d7891;
}

.content-box-gray {
	background-color: #e6e6e6;
	border: 1px solid #bdbdbd;
}

.content-box-green {
	background-color: #c1e0c1;
	border: 1px solid #339933;
}

.content-box-orange {
	background-color: #f7c99c;
	border: 1px solid #ef9339;
}

.content-box-red {
	background-color: #f9dbdb;
	border: 1px solid #f04848;
}

.content-box-yellow {
	background-color: #f4e5cf;
	border: 1px solid #d9a861;
}

/*
Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
	font-size: 14px;
}

.sidebar p:last-child {
	margin-bottom: 0;
}

.sidebar .featuredpost .entry-meta {
	margin-bottom: 6px;
}

.sidebar li {
	list-style-type: none;
	margin-bottom: 6px;
	word-wrap: break-word;
}

.sidebar ul > li:last-child {
	margin-bottom: 0;
}

.sidebar .widget {
	background:none;
	margin-bottom: 10px;
	overflow: hidden;
	/*padding: 10px;*/
}

.sidebar .enews-widget {
	background-color: #e2e0dd;
}

.sidebar .featuredpage .widget-title {
	border-bottom: 3px solid #d9a861;
	border-top: 3px solid #d9a861;
	color: #fff;
	display: inline-block;
	font-size: 28px;
	padding: 15px 0;
	margin: 0 auto;
}

.sidebar .widget.featuredpage {
	background-color: #3d372d;
	min-height: 140px;
	padding: 0;
	text-align: center;
}

.sidebar .widget.featuredpage .entry {
	margin: 0;
	padding: 0;
	position: relative;
}

.sidebar .featuredpage .widget-wrap {
	padding: 35px 0;
}

.sidebar .featuredpage img.entry-image {
	left: 0;
	margin: 0;
	opacity: .1;
	position: absolute;
	top: -105px;
}

.sidebar .featuredpost img.entry-image {
	margin-bottom: 10px;
}

.sidebar .featuredpage img:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
	-moz-opacity: 0.2;
	-khtml-opacity: 0.2;
	opacity: 0.2;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}


/*
Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	background:url("images/footer.png");
	color: #000;
	clear: both;
	padding: 0px 0;
}

	.home .footer-widgets .widget {
		margin: 30px 0;
	}

.footer-widgets-1 img {
	margin-top: 15px;

}

p:last-child {
	margin: 0;
}

.home .footer-widgets-1 {
	float: left;
	width: 40%;
}
	.home .footer-widgets-1 ul {
		margin-left: 2em;
	}

.home .footer-widgets-2 {
	float: left;
	font: 15px/1.4 Arial, serif;
	width: 60%;
}

	.home .footer-widgets a:hover {
		text-decoration: none;
	}

	.home .footer-widgets .widget-title {
		color:#22205f 
	}
	.home .footer-widgets ul {
		color: #c00000;
		list-style-type: disc; 
	}
		.home .footer-widgets li {
			margin-bottom: 6px;
			word-wrap: break-word;
			font-family: 'Archivo Black', sans-serif;
			font-size:15px;
			padding:2px;
			display:list-item;
			text-align: -webkit-match-parent;
			
		}
	.home .footer-widgets ul li span{
		color:#22205f;
	}

	.home .footer-widgets .search-form input:focus {
		border: 1px solid #ddd;
	}

	.home .footer-widgets .avatar {
		border: 4px solid #fff;
		max-width: 125px;
	}

	.home .footer-widgets .alignleft .avatar {
		margin: 4px 12px 6px 0;
	}

	home .footer-widgets .alignright .avatar {
		margin: 4px 0 6px 12px;
	}
	.entry-header{
		color:#22205f;
	}
	.entry-header a{
		font-size:25px;
	}
	.entry-content{
		width:600px;
	}
	.entry-content a{
		size:10px;
	}
	a.more-link{
		color:#000;

	}
	.more-link{
		padding-right:20px;
		margin-right:100px;
	}
	
#reviews {
	padding-top:0;
	clear: both;

}
	#reviews h2 {
		color: #C00000;
		float: left;
		font: 400 32px 'Archivo Narrow', Impact, sans-serif;
		margin-left: 0 !important;
	}
	#reviews .testimonial {
		float: left;
		text-align: center;
		padding: 0 2%;
		width: 45%;
	}
		#reviews .testimonial h3 {
			font: 700 20px Alegreya, sans-serif;
			margin-bottom: 0;
		}
		#reviews .testimonial p {
			font: 14px/1.6 Arial, sans-serif;
		}
		
.fortyfiveminpickup p {
	font-size: 12px;
	margin-top: 60px;
}
	.fortyfiveminpickup b {
		color: #cc2127;
		font: 40px Anton, Impact, sans-serif;
	}


/*
Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: #000;
	color: #fff;
	font: 12px 'Archivo Narrow', sans-serif;
	padding: 30px 0 40px;
	text-align: center;
}

.site-footer a {
	color: #fff;
	font-weight: 400;
}

.site-footer a:hover {
	color: #efe;
}

.site-footer p {
	margin: 5px 0 0;
	color:#fff;
	font-size:12px;
}
.genesis-nav-menu.menu-secondary li a:before {
	content: "• ";
	color: #999;
}
.genesis-nav-menu.menu-secondary li:first-child a:before {
	content: "";
}




/*
Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1139px) {

	.wrap {
		max-width: 960px;
	}
	.header-widget-area section {
		float: none;
	}

	.home-featured-1,
	.home-featured-2,
	.home-featured-3,
	.home-listings .featured-listings .entry {
		float: left;
		margin-right: 30px;
		width: 300px;
	}

	.home-featured .widget-wrap {
		padding: 28px 0;
	}

	.home-featured .featuredpage img.entry-image {
		top: -96px;
	}

	.home-listings .featured-listings .entry {
		min-height: 200px;
		overflow: hidden;
	}

	.home-featured-3,
	.home-listings .featured-listings .entry:nth-of-type(3n+3) {
		margin-right: 0;
	}

	.home .wap-community.entry,
	.archive .wap-community.entry {
		clear: left;
		float: left;
		margin: 0 auto;
		padding: 3%;
		width: 50%;
	}

	.home .wap-community.entry:nth-of-type(2n+2),
	.archive .wap-community.entry:nth-of-type(2n+2) {
		clear: none;
		margin-right: 0;
	}

	.content,
	.site-header .widget-area {
		width: 620px;
	}

	.sidebar-primary,
	.title-area {
		width: 300px;
	}

	blockquote {
		margin: 40px 0 24px;
	}

}

@media only screen and (max-width: 1023px) {

	body {
		background-color: #fff;
	}

	.header-image .site-title a {
		background-position: center center !important;
	}

	.header-widget-area section {
		text-align: center;
		width: 100%;
	}

	.home .search-bar {
		padding-top: 250px;
	}

	.wap-landing .site-inner {
		margin: 0;
		width: 100%;
	}

 .search-bar select,
.search-bar textarea {
		padding: 15px 5px;
	}

	.full-width-content .content,
	.content,
	.footer-widgets-1,
	.footer-widgets-2,
	.sidebar-primary,
	.site-header .widget-area,
	.site-inner,
	.title-area,
	.wrap {
		width: 100%;
	}

	.site-header .wrap {
		padding: 20px 0;
	}

	.header-image .site-header .wrap {
		background-position: center top;
	}

	.site-inner {
		padding: 5%;
	}

	.genesis-nav-menu li,
	.site-header ul.genesis-nav-menu,
	.site-header .search-form {
		float: none;
	}

	.genesis-nav-menu,
	.site-header .title-area,
	.site-header .search-form,
	.site-title {
		text-align: center;
	}

	.genesis-nav-menu a,
	.genesis-nav-menu > .first > a,
	.genesis-nav-menu > .last > a {
		padding: 20px 16px;
	}

	.site-header .search-form {
		margin: 16px auto ;
	}

	.genesis-nav-menu li.right {
		display: none;
	}

	.sidebar .widget.featuredpage,
	.home-featured-1,
	.home-featured-2,
	.home-featured-3,
	.home-listings .featured-listings .entry,
	.home-listings .featured-listings .entry:nth-of-type(3n+3) {
		float: none;
		margin: 0 auto 20px;
	}

	.entry-footer .entry-meta {
		margin: 0;
		padding-top: 12px;
	}

	.site-footer {
		padding: 10px;
		text-align: center;
	}

	.footer-widgets {
		padding: 40px 5% 16px;
	}

	.footer-widgets-1,
	.footer-widgets-2 {
		margin: 0;
	}

}

@media only screen and (min-width: 768px) {

	nav {
		display: block !important;
	}
}

@media only screen and (max-width: 767px) {

	.home-welcome .wrap {
		padding: 100px 30px 0;
	}

	.home .search-bar {
		padding-top: 150px;
	}

	.home .search-bar .wrap {
		margin-bottom: 0;
	}

	.search-bar input,
	.search-bar select,
	.search-bar textarea {
		color: #333;
		width: 100%;
	}

	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds,
	.entry-content,
	.entry-content ol, .entry-content p, .entry-content ul, .quote-caption,
	.one-half.first,
	#gform_1 > div.gform_body
{
		margin: 0;
		width: 100%;
	}

	/* Navigation toggles
	--------------------------------------------- */

	.menu-toggle,
	.sub-menu-toggle {
		display: block;
		font-size: 14px;
		font-weight: 500;
		margin: 10px auto;
		overflow: hidden;
		text-align: center;
		visibility: visible;
	}

	button.sub-menu-toggle {
		background-color: inherit;
	}

	.sub-menu-toggle {
		padding: 18px;
		position: absolute;
		right: 0;
		top: 0;
	}

	.menu-toggle:before {
		content: "Menu";
	}

	.menu-toggle.activated:before {
		content: "Close Menu";
	}

	.sub-menu-toggle:before {
		content: "+";
	}

	.sub-menu-toggle.activated:before {
		content: "-";
	}

	nav {
		display: none;
		position: relative;
	}

	.genesis-nav-menu .menu-item {
		display: block;
		position: relative;
		text-align: left;
	}

	.genesis-nav-menu .menu-item:hover {
		position: relative;
	}

	.genesis-nav-menu .sub-menu {
		clear: both;
		display: none;
		opacity: 1;
		position: static;
		width: 100%;
	}

	.genesis-nav-menu .sub-menu a {
		border-left: 0;
		position: relative;
		width: auto;
	}

	.genesis-nav-menu .sub-menu .sub-menu {
		margin: 0;
	}

	.genesis-nav-menu .sub-menu .sub-menu a {
		padding-left: 30px;
	}

	.genesis-nav-menu .sub-menu .sub-menu .sub-menu a {
		padding-left: 40px;
	}
body > div > div.site-inner > div > div > main > article > div > div:nth-child(2) > p:nth-child(3) > iframe{
	width:36%;
}

}

@media only screen and (max-width: 639px) {
	

	.home .search-bar {
		padding-top: 206px;
	}

	blockquote {
		margin: 0;
	}

	.footer-widgets-1,
	.footer-widgets-2 {
		padding: 0;
	}

	a.more-link:before,
	a.more-link:after {
		width: 10%;
	}

	.home .wap-community.entry,
	.archive .wap-community.entry {
		clear: none;
		float: none;
		padding: 3%;
		width: 100%;
	}

	.home .wap-community.entry img {
		display: inline;
	}

	.wap-landing .site-inner,
	.author-box,
	.sidebar .widget.enews-widget {
		padding: 20px;
	}
.gform_wrapper form{
	width:100%;
}
	.title-area{
background-size: 98%;
margin: 0 auto;

float: none;
width:300px;
	}
.site-header .widget-area{
	margin-top:-91px;
}
.gform_wrapper ul li:before, .gform_wrapper ul li:after, .gform_wrapper ul.gform_fields{
	width:44%;
}
}

@media print {

	* {
		color: #000;
		text-shadow: none;
		background: transparent;
		box-shadow: none;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100%;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}

	nav {
		display: none;
	}

	.backstretch,
	.site-header .widget-area
	nav,
	.home-welcome,
	.search-bar,
	form,
	.sidebar,
	.footer-widgets,
	.site-footer,
	.archive-pagination {
		display: none;
	}

	.table td,
	.table th {
		background-color: #fff;
	}

	.label {
		border: 1px solid #000;
	}

	.table {
		border-collapse: collapse;
	}

	.table-bordered th,
	.table-bordered td {
		border: 1px solid #ddd;
	}

}
.page-id-37 .entry-content{
width:800px;
}
.page-id-37 .entry{
	margin-bottom: 40px;
	padding: 0;
	margin-left:0!important;
}
label{
	font-weight:bold;
}
.comment-respond{
display:none;
}
